= form_for(sheet) do |f|
  - if sheet.errors.any?
    #error_explanation
      %h2
        = pluralize(sheet.errors.count, "error")
        prohibited this sheet from being saved:
      %ul
        - sheet.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.file_field :md

  %h3 or

  .field
    = f.label :link, :"Link to Github file"
    = f.text_field :link

  .actions
    = f.submit
