%p#notice= notice

%h1 CMD (Cheatsheet Markdown)
= link_to 'New Sheet', new_sheet_path

%h3 Welcome to a repository of cheatsheets for programs written in markdown!

%p This website uses Github Flavored Markdown (GFM) to render HTML. As such, tables can be viewed in a text editor or rendered in a browser. Whichever you prefer.

%p This aims to create a simple, standard way of documenting how to use programs.

%p 
  Because creating tables is a pain, I'd recommend you'd use this website: 
  = link_to "https://donatstudios.com/CsvToMarkdownTable", "https://donatstudios.com/CsvToMarkdownTable"

#eg
  - markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, extensions = {})
  - file = File.read("eg.md")

  %div
    = GitHub::Markdown.render_gfm(file).html_safe

  %div
    - file.each_line do |line|
      %pre= line

- @sheets.each do |sheet|
  %h1
    = link_to sheet.name, sheet

  -# - raw = Paperclip.io_adapters.for(sheet.md).read
  -# - cats = raw.scan(/###/).length
  -# - cmds = raw.scan(/^\|((?!-).)*$/).length + raw.scan(/^`+\s/).length

  -# %div
  -#   %span= "#{cats} categories"
  -#   %span= "#{cmds} commands"
