%p#notice= notice
%h1= @sheet.name

#links
  %div
    %a{:href => @sheet.md, :download => "#{@sheet.name}.md", :target => "blank"} Download .md
    = link_to 'Edit', edit_sheet_path(@sheet)

  %div
    %a{:href => @sheet.md, :download => "#{@sheet.name}.md", :target => "blank"}
      Fork
      = image_tag "fork.svg"

    %a{:href => @sheet.md, :download => "#{@sheet.name}.md", :target => "blank"}
      Pull request
      = image_tag "pull-request.svg"

- if @sheet.md.exists?
  - raw = Paperclip.io_adapters.for(@sheet.md).read

- else
  - repo = @sheet.repo.split('/')[1]

  - uri = URI("https://rawgit.com/#{@sheet.repo}/master/#{repo}")
  - raw = Net::HTTP.get(uri).force_encoding(Encoding::UTF_8)

= GitHub::Markdown.render_gfm(raw).html_safe
