%p#notice= notice
%h1= @sheet.name

#links
  - if @sheet.md.exists?
    %div
      %a{:href => @sheet.md, :download => "#{@sheet.name}.md", :target => "blank"} Download .md

    - raw = Paperclip.io_adapters.for(@sheet.md).read

  - else
    - user = @sheet.link.split('/')[3]
    - repo = @sheet.link.split('/')[4]
    - branch = @sheet.link.split('/')[6]
    - file_name = @sheet.link.split('/')[7]

    - raw_remote = URI("https://cdn.rawgit.com/#{user}/#{repo}/#{branch}/#{file_name}")

    - raw = Net::HTTP.get(raw_remote).force_encoding(Encoding::UTF_8)

    - remote = "https://github.com/#{user}/#{repo}"

    %div
      %a{:href => raw, :download => "#{@sheet.name}.md", :target => "blank"} Download .md
    %div
      %a{:href => "#{remote}/fork", :target => "blank"} Fork
      %a{:href => "#{remote}/compare", :target => "blank"} Pull request

= GitHub::Markdown.render_gfm(raw).html_safe
