%p#notice= notice
%h1= @sheet.name
%a{:href => @sheet.md, :download => "#{@sheet.name}.md", :target => "blank"} Download .md


= link_to 'Edit', edit_sheet_path(@sheet)

- markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, extensions = {})

- file = Paperclip.io_adapters.for(@sheet.md).read
= GitHub::Markdown.render_gfm(file).html_safe
